* {
    margin: 0;
    padding: 0;
}

button {
    font-family: inherit;
    font-weight: bold;
    cursor: pointer;
}

body {
    font-family: 'Montserrat', sans-serif;
    height: 5000px;
}

#sidebar {
    background-color: #171F58;
    width: 270px;
    height: 100%;
    position: fixed;
}

img.logo {
    width: 215px;
    height: 37px;
    left: 28px;
    top: 39px;
    position: fixed;
}

#sidebar-menu {
    top: 120px;
    position: relative;
}

a.sidebar-menu-link {
    display: flex;
    color: white;
    padding: 12px 0 12px 49px;
    text-decoration: none;
    margin-bottom: 1px;
}

a.sidebar-menu-link:hover {
    background-color:#2865D8;
    font-weight: bold;
}

.sidebar-icon {
    width: 17px;
    height: 17px;
    margin-right: 26px;
    fill: #707070;
    stroke: red;
}

#main-content {
    background-color: #F8F9FA;
    height: 100%;
    margin-left: 270px;
    padding: 56px 31px 0;
}

.page-heading {
    font-size: 34px;
    margin-bottom: 12px;
}

.search-bar {
    display: flex;
    height: 55px;
    margin-bottom: 20px;
}

.search-text-field {
    width: 647px;
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    padding: 20px;
    box-shadow: 0px 3px 6px #00000029;
    opacity: 1;
    display: flex;
}

.search-text-field img {
    color: #605D5D;
    width: 17px;
    height: 17px;
    margin-right: 15px;
}

.search-text-field input{
    font-family: inherit;
    font-size: 12px;
    font-weight: 500;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    background-color: transparent;
}

::placeholder {
    color: #605D5D;
}

.search-button {
    background-color:#2865D8;
    height: 100%;
    width: 132px;
    margin-left: 12px;
    font-size: 18px;
    color: white;
    box-shadow: 0px 3px 6px #00000029;
    border: 0;
    opacity: 1;
}

#results-grid-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, 203px);
    grid-template-rows: repeat(auto-fill, 427px);
    grid-gap: 20px 30px;
    /* background-color: violet; */
    height: 100%;
}

div.result-img {
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
    background-color: white;
    width: 203px;
    height: 259px;
    padding: 15px;

}

div.result-img img {
    width: 100%;
}

div.result-info {
    height: 148px;
    margin-top: 20px;
    background-color: white;
    padding: 11px 18px;
    box-sizing: border-box;
    box-shadow: 0px 3px 6px #00000029;
    position: relative;
}

.phone-name {
    height: 19px;
    overflow: hidden;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

.phone-details{
    height: 40px;
    overflow: hidden;
    margin-top: 20px;
    font-size: 12px;
    color: #605D5D;
}

.phone-details .value {
    font-weight: bold;
}

.info-inline{
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;
}

.observe-button {
    background-color: #2865D8;
    font-size: 12px;
    color: white;
    width: 114px;
    height: 27px;
    border: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.phone-observe-button-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 15px;
    left: 0;
    right: 0;
}

.phone-observe-button-container img {
    margin-right: 9px;
}

.observed-item {
    display: flex;
    margin-bottom: 20px;
}

.price-chart {
    margin-left: 20px;
    background-color: white;
    position: relative;
    width: 100%;
    height: 427px;
    box-shadow: 0px 3px 6px #00000029;
    display: flex;
    flex-direction: column;
}

.price-chart-header {
    font-size: 14px;
    font-weight: bold;
    padding-left: 34px;
    padding-top: 18px;
    margin-bottom: 40px;
    display: flex;
    align-items: center;
    position: relative;
    height: auto;
}

.chart-container {
    position: relative;
    height: 100%;
    padding: 5px;
}

.current-price {
    margin-left: 26px;
}

.old-price {
    text-decoration: line-through;
    /* text-decoration-thickness: 2px; */
    margin-left: 8px;
}

.notification {
    margin-left: 26px;
    font-size: 12px;
    font-weight: 500;
}

.higher-price {
    color: #CB0E0E;
}

.lower-price {
    color: #0FC680;
}

.price-changed-icon {
    size: 14px;
    margin-left: 9px;
}

.all-offers-button {
    background-color: #2865D8;
    color: white;
    font-size: 14px;
    border: 0px;
    padding: 5px 0 5px 12px;
    width: 170px;
    height: 30px;
    text-align: left;
    display: flex;
    align-items: center;
    position: absolute;
    right: 10px;
}

.all-offers-button-icon {
    margin: 13px;
    width: 7px;
    height: 12px;
}

.notification-switch {
    margin-right: 7px;
}