attrs==21.2.0
beautifulsoup4==4.9.3
certifi==2021.5.30
charset-normalizer==2.0.4
decorator==5.0.9
demjson==2.2.4
idna==3.2
iniconfig==1.1.1
lxml==4.6.3
packaging==21.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
pytest==6.2.4
requests==2.26.0
six==1.16.0
soupsieve==2.2.1
tld==0.12.6
toml==0.10.2
urllib3==1.26.6
validators==0.18.2
