{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1 class="page-heading">Obserwowane telefony</h1>
{% for data in phone_data %}
<div class="observed-item">
    <div class="result">
        <div class="result-img">
            {% if data.phone.img.name %}
            <img src="{{ data.phone.img.url }}" alt="phone-img">
            {% else %}
            <img alt="no-image">
            {% endif %}
        </div>
        <div class="result-info">
            <p class="phone-name">{{ data.phone.name }}</p>
            <div class="phone-details">
                <div class="info-inline">
                    <p class="label">Pamięć</p>
                    <p class="value">{{ data.phone.storage }}{{ data.phone.storage_unit }}</p>
                </div>
                <div class="info-inline">
                    <p class="label">Kolor</p>
                    <p class="value">{{ data.phone.color }}</p>
                </div>
            </div>
            <form action="/dashboard/unfollow/{{ data.phone.id }}" method="POST" class="phone-observe-button-container">
                {% csrf_token %}
                <button type="submit" class="observe-button unfollow-color">
                    <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                    <span>Usuń</span>
                </button>
            </form>
        </div>
    </div>
    <div class="price-chart">
        <section class="price-chart-header">
            <span>Najlepsza oferta</span>
            {% if data.price_state.name == "DECREASED" %}
            <span class="current-price lower-price">{{ data.current_price }} zł</span>
            <img class="price-changed-icon" src="{% static 'icons/lower-price-icon.svg' %}" alt="lower-price-icon">
            <span class="old-price">({{ data.old_price }} zł)</span>
            {% elif data.price_state.name == "INCREASED" %}
            <span class="current-price higher-price">{{ data.current_price }} zł</span>
            <img class="price-changed-icon" src="{% static 'icons/higher-price-icon.svg' %}" alt="higher-price-icon">
            <span class="old-price">({{ data.old_price }} zł)</span>
            {% else %}
            <span class="current-price">{{ data.current_price }} zł</span>
            {% endif %}
            <div class="notification">
                <input type="checkbox" class="notification-switch"/>
                <span class="notification-text">Powiadom mnie jeśli cena się zmieni</h3>
            </div>
            <button class="all-offers-button">
                <span>Wszystkie oferty</span>
                <img src="{% static 'icons/all-offers-button.svg' %}" alt="all-offers-button" class="all-offers-button-icon">
            </button>
        </section>
        <div class="chart-container" id="phone-price-chart-{{ data.phone.id }}"></div>
    </div>
</div>
{% endfor %}

<script>

    function prepareRows(phone_data){
        var dates = phone_data.dates;
        var prices = phone_data.prices;

        var rows = dates.map(function(date, i) {
            return [new Date(date), prices[i]]
        });
        return rows;
    }

    function drawCharts(chart_data){
        for (let obj of chart_data) {
                var phoneId = obj.phone_id;
                var rows = prepareRows(obj);
                drawChart(phoneId, rows);
            }
    }
    
    function drawChart(phoneId, preparedRows) {
        var options = {
            aggregationTarget: "auto",
            animation: {
                startup: true,
                easing: "out",
                duration: 300
            },
            crosshair: {
                trigger: "both",
                orientation: "vertical",
                opacity: 0.5,
            },
            curveType: "function",
            focusTarget: "category",
            fontName: "Montserrat",
            fontSize: 12,
            chartArea: {
                top: "10%",
                left: "6%",
                right: "6%",
                bottom: "10%",
                height: "100%",
                width: "100%"
            },
            lineWidth: 3,
            hAxis: {
                showTextEvery: 5, // TODO: solve better with tix
                format: "d MMM",
            },
            explorer: {
                axis: "horizontal",
                actions: ["dragToPan"],
                keepInBounds: true,
            },
            vAxis: {
                format: "decimal",
                gridlines: {
                    count: -1,
                },
            },
            legend: {
                position: "none",
            }
        };
        var data = new google.visualization.DataTable();
        data.addColumn("date", "Data");
        data.addColumn("number", "Cena");
        data.addRows(preparedRows);
        data.sort({column: 0})

        var chart = new google.visualization.LineChart(document.getElementById('phone-price-chart-' + phoneId));
        chart.draw(data, options);
    }

    var endpoint = "/dashboard/api/price_chart_data";
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(response){
            console.log("ajax success")
            console.log(response)

            var chart_data = response.chart_data
            google.charts.load("current", {packages: ["corechart", "line"], language: "pl"});
            google.charts.setOnLoadCallback(function(){ drawCharts(chart_data) });
        },
        error: function(response){
            console.log("ajax error")
            console.log(response)
        }
    })

</script>


{% endblock %}