body {
    font-family: 'Montserrat', sans-serif;
}

#login-form {
    margin-top: 100px;
    text-align: center;
}

input {
    margin: 10px;
    padding: 10px;
    width: 200px;
}

input[type=submit] {
    border: none;
    width: 160px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background-color: #171F58;
    cursor: pointer;
    font-family: inherit;
    font-weight: bold;
}