{% extends 'index.html' %}
{% load static %}

{% block content %}
<h1 class="page-heading">Obserwowane telefony</h1>
<div class="observed-item">
    <div class="result">
        <div class="result-img">
            <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
        </div>
        <div class="result-info">
            <p class="phone-name">iPhone 12</p>
            <div class="phone-details">
                <div class="info-inline">
                    <p class="label">Pamięć</p>
                    <p class="value">128GB</p>
                </div>
                <div class="info-inline">
                    <p class="label">Kolor</p>
                    <p class="value">Czarny</p>
                </div>
            </div>
        </div>
    </div>
    <div class="price-chart">
        <section class="price-chart-header">
            <span>Najlepsza oferta</span>
            <span class="current-price lower-price">4249 zł</span>
            <img class="price-changed-icon" src="{% static 'icons/lower-price-icon.svg' %}" alt="lower-price-icon">
            <span class="old-price">(4449 zł)</span>
            <div class="notification">
                <input type="checkbox" class="notification-switch"/>
                <span class="notification-text">Powiadom mnie jeśli cena się zmieni</h3>
            </div>
            <button class="all-offers-button">
                <span>Wszystkie oferty</span>
                <img src="{% static 'icons/all-offers-button.svg' %}" alt="all-offers-button" class="all-offers-button-icon">
            </button>
        </section>
        <div class="chart-container">
            <canvas id="phone-price-chart-1"></canvas>
        </div>
    </div>
</div>

<div class="observed-item">
    <div class="result">
        <div class="result-img">
            <img src="{% static 'img/phones/apple-iphone-12-mini-white.png' %}" alt="apple-iphone-12-mini-white">
        </div>
        <div class="result-info">
            <p class="phone-name">iPhone 12 Mini</p>
            <div class="phone-details">
                <div class="info-inline">
                    <p class="label">Pamięć</p>
                    <p class="value">128GB</p>
                </div>
                <div class="info-inline">
                    <p class="label">Kolor</p>
                    <p class="value">Biały</p>
                </div>
            </div>
        </div>
    </div>
    <div class="price-chart">
        <section class="price-chart-header">
            <span>Najlepsza oferta</span>
            <span class="current-price higher-price">3449 zł</span>
            <img class="price-changed-icon" src="{% static 'icons/higher-price-icon.svg' %}" alt="higher-price-icon">
            <span class="old-price">(3199 zł)</span>
            <div class="notification">
                <input type="checkbox" class="notification-switch"/>
                <span class="notification-text">Powiadom mnie jeśli cena się zmieni</h3>
            </div>
            <button class="all-offers-button">
                <span>Wszystkie oferty</span>
                <img src="{% static 'icons/all-offers-button.svg' %}" alt="all-offers-button" class="all-offers-button-icon">
            </button>
        </section>
        <div class="chart-container">
            <canvas id="phone-price-chart-2"></canvas>
        </div>
    </div>
</div>


<script>
    // chart.js chart global config
    Chart.defaults.font.size = 12;
    Chart.defaults.font.color = '#605D5D';
    Chart.defaults.font.family = 'Montserrat';
    Chart.defaults.layout.padding = 5;
    Chart.defaults.plugins.legend.display = false;
    Chart.overrides.line.backgroundColor = '#2865D8';
    Chart.overrides.line.borderColor = '#2865D8';
    Chart.overrides.line.tension = 0.5;

    var endpoint = '/dashboard/api/price_chart_data'
    $.ajax({
        method: "GET",
        url: endpoint,
        success: function(response){
            console.log("ajax success")
            console.log(response)

            var dates = response.dates
            var prices = response.prices

            var ctx = document.getElementById('phone-price-chart-1');
            var myChart = new Chart(ctx, {
                type: 'line',
                data: {
                    labels: dates,
                    datasets: [{
                        data: prices
                    }]
                },
                options: {
                    maintainAspectRatio: false
                }
            });

        },
        error: function(response){
            console.log("ajax error")
            console.log(response)
        }
    })
</script>


{% endblock %}