{% extends 'index.html' %}
{% load static %}

{% block content %}
    <h1 class="page-heading">Wyszukiwanie telefonu</h1>
    <form class="search-bar" action='/dashboard/search' method="get">
        <div class="search-text-field">
            <img src="{% static 'icons/search-gray.svg' %}" alt="search-icon">
            <input type="text" name="query" placeholder="Wpisz szukany model telefonu (np. iPhone 12)">
        </div>
        <button class="search-button" type="submit">Szukaj</button>
    </form>
    {% if query %}
        <p>Wyniki wyszukiwania dla zapytania: {{ query }}</p>
        <section id="results-grid-container">
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
            <div class="result">
                <div class="result-img">
                    <img src="{% static 'img/phones/apple-iphone-12-black.png' %}" alt="apple-iphone-12-black">
                </div>
                <div class="result-info">
                    <p class="phone-name">iPhone 12</p>
                    <div class="phone-details">
                        <div class="info-inline">
                            <p class="label">Pamięć</p>
                            <p class="value">128GB</p>
                        </div>
                        <div class="info-inline">
                            <p class="label">Kolor</p>
                            <p class="value">Czarny</p>
                        </div>
                    </div>
                    <form action="/dashboard/observed" method="GET" class="phone-observe-button-container">
                        <button type="submit" class="observe-button">
                            <img src="{% static 'icons/favourite-bold.svg' %}" alt="favourite-bold">
                            <span>Obserwuj</span>
                        </button>
                    </form>
                </div>
            </div>
        </section>
    
    {% endif %}
{% endblock %}